{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'ecommerce/css/comment.css'%}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
  </head>
  <body>

	
    <div class="container">
		<div class="col-md-12" id="fbcomment">
			<div class="header_comment">
				<div class="row">
					<div class="col-md-6 text-left">
					  <span class="count_comment">{{allComment.count}} Comments</span>
					</div>
				</div>
			</div>

			<div class="body_comment">
				<div class="row">
					<div class="avatar_comment col-md-12">


                <div class="imgCircle">
                 <span class="imgLetter">{{firshCharOfUname}}</span>
                 </div>

                <div class="nameDiv">
                  <span class="imgName">{{request.user}}</span>
                </div>

					</div>
					<div class="box_comment col-md-11">
            <form  method="POST">
				{% csrf_token %}
              <!--<textarea class="commentar" placeholder="Add a comment..."></textarea>-->
			  {{comment_form.m_comments}}
              <div class="box_post">

              <div class="pull-right">

                <button type="submit" >Post</button>
              </div>
            </form>

					  </div>
					</div>
				</div>
				<div class="row">
					<ul id="list_comment" class="col-md-12 comSection">
						<!-- Start List Comment 1 -->
						{% for com in allComment %}
						<li class="box_result row">
							<div class="avatar_comment col-md-1">
								<img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar"/>
							</div>
							<div class="result_comment col-md-11">
								<h4>{{com.user}}</h4>
								<p>{{com.m_comments}}</p>
								<div class="tools_comment">
									<a class="like" href="#">Like</a>
									<span aria-hidden="true"> · </span>
									<a class="like" href="#">Unike</a>
									<span aria-hidden="true"> · </span>
									<a class="replay" href="#" onclick="document.getElementById('replySection').style.visibility='visible'">Reply</a>
									<span aria-hidden="true"> · </span>
									<i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
									<span aria-hidden="true"> · </span>
									<i class="fa fa-thumbs-o-down"></i> <span class="count">1</span>
									<span aria-hidden="true"> · </span>
									<span>{{com.m_comment_date}}</span>
								</div>

								<div id="replySection" >
									<form method="POST">
										{% csrf_token %}
										{{reply_form.m_reply}}
										<input type="hidden" name="parent_id" value="{{ com.id }}">
										<button type="submit">Reply</button>
									</form>
									
								</div>
								<ul class="child_replay">
									{% for replym in com.reply_comment.all %}
									<li class="box_reply row">
										<div class="avatar_comment col-md-1">
											<img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" class="replyImg"/>
										</div>
										 <div class="result_comment col-md-11">
											<h4>{{replym.user}}</h4>
											<p>{{replym.m_reply}}</p>
											<div class="tools_comment">
												<a class="like" href="#">Like</a>
												<span aria-hidden="true"> · </span>
												<a class="like" href="#">Unlike</a>
												<span aria-hidden="true"> · </span>
												<a class="replay" href="#">Reply</a>
												<span aria-hidden="true"> · </span>
												<i class="fa fa-thumbs-o-up"></i> <span class="count">1</span>
												<span aria-hidden="true"> · </span>
												<i class="fa fa-thumbs-o-down"></i> <span class="count">1</span>
												<span aria-hidden="true"> · </span>
												<span>{{replym.m_reply_date}}</span>
											</div>


										</div>
									</li>
									{% endfor %}
								</ul>
							</div>
						</li>
						{% endfor %}


					</ul>

				</div>
			</div>
		</div>






  </body>
</html>
