

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://scripts.sandbox.bka.sh/versions/1.2.0-beta/checkout/bKash-checkout-sandbox.js"></script>

    <title>bkash payment</title>
</head>

<body>
    <h1>
        <p> amount: '100.50' </p>

        <p>intent: 'sale'</p>
    </h1>

    <button id="bKash_button">Pay with bKash</button>
    <script>
        var paymentID = '';
        bKash.init({
            paymentMode: 'checkout', //fixed value ‘checkout’ 
            //paymentRequest format: {amount: AMOUNT, intent: INTENT} 
            //intent options 
            //1) ‘sale’ – immediate transaction (2 API calls) 
            //2) ‘authorization’ – deferred transaction (3 API calls) 
            paymentRequest: {
                amount: '100.50', //max two decimal points allowed 
                intent: 'sale'
            },
            createRequest: function (request) { //request object is basically the paymentRequest object, automatically pushed by the script in createRequest method 
                $.ajax({
                    url: '{% url "app_BkashPayment:payment_create_api_view" %}',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        data = JSON.parse(data);
                        if (data && data.paymentID != null) {
                            paymentID = data.paymentID;
                            bKash.create().onSuccess(data); //pass the whole response data in bKash.create().onSucess() method as a parameter 
                        } else {
                            bKash.create().onError();
                        }
                    },
                    error: function () {
                        bKash.create().onError();
                    }
                });
            },
            executeRequestOnAuthorization: function () {
                $.ajax({
                    url: '{% url "app_BkashPayment:payment_execute_api_view" %}',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "paymentID": paymentID
                    }),
                    success: function (data) {
                        data = JSON.parse(data);
                        if (data && data.paymentID != null) {
                            window.location.href = '{% url "demo_api:demo_success" %}';//Merchant’s success page 
                        } else {
                            bKash.execute().onError();
                        }
                    },
                    error: function () {
                        bKash.execute().onError();
                    }
                });
            }
        });
    </script>
</body>

</html>
