
{% extends "base.html" %}

{% block start %}

        <!-- Mt Contact Banner of the Page end -->

        <!-- Mt Blog Detail of the Page -->
        <div class="mt-blog-detail style1">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <!-- Blog Post of the Page -->
                <article class="blog-post detail wow fadeInUp" data-wow-delay="0.4s">
                  <div class="img-holder">
                    <img src="{{blog_obj.m_image.url}}" alt="image description">
                  </div>
                  <time class="time" datetime="2022-01-07 3:36"><strong>7</strong>January</time>
                  <div class="blog-txt">
                    <h2><a href="#">{{blog_obj.m_title}}</a></h2>
                    <ul class="list-unstyled blog-nav">
                      <li> <a href="#"><i class="fa fa-clock-o"></i> {{blog_obj.m_createdAt}} </a></li>
                      <li> <a href="#"><i class="fa fa-list"></i>Design</a></li>
                      <li> <a href="#"><i class="fa fa-comment"></i>2 Comments</a></li>
                    </ul>
                    <p>{{blog_obj.m_content|safe}}</p>
                    </div>
                </article>
                <!-- Blog Post of the Page end -->
                <!-- Mt Author Box of the Page -->





                <article class="mt-author-box">
                  <div class="author-img">
                    <a href="#"><img src="/static/ecommerce/images/prema.jpg" alt="image description"></a>
                  </div>
                  <div class="author-txt">
                    <h3><a href="#">Tabia Tanzin Prama</a></h3>
                    <p>I could share so many other decorating/lifestyle blogs that I love but I will save more for another day.

                      I love blogs where women honestly share their love of home, family and hospitality.
                    
                    I hope you find as much inspiration from these blogs as I do.</p>
                    <ul class="list-unstyled social-network">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </article>
                <!-- Mt Author Box of the Page end -->
                <!-- Mt Comments Section of the Page -->
                <div class="mt-comments-section">
                  <div class="mt-comments-heading">
                    <h2>COMMENTS</h2>
                  </div>
                  <ul class="list-unstyled">
                    <li>
                      <div class="img-box">
                        <img src="/static/ecommerce/images/img46.jpg" alt="image description">
                      </div>
                      <div class="txt">
                        <h3><a href="#">John Wick</a></h3>
                        <time class="mt-time" datetime="2016-02-03 20:00">May 24, 2015</time>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                      </div>
                    </li>
                    <li class="second-comment">
                      <div class="img-box">
                        <img src="/static/ecommerce/images/img46.jpg" alt="image description">
                      </div>
                      <div class="txt">
                        <h3><a href="#">John Wick</a></h3>
                        <time class="mt-time" datetime="2016-02-03 20:00">May 24, 2015</time>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit i</p>
                      </div>
                    </li>
                  </ul>
                  <!-- Mt Leave Comments of the Page -->
                  <div class="mt-leave-comment">
                    <h2>LEAVE A COMMENT</h2>
                    <form action="#" class="comment-form">
                      <fieldset>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Name">
                          <input type="email" class="form-control" placeholder="Email">
                          <input type="text" class="form-control" placeholder="Website">
                        </div>
                        <div class="form-group">
                          <textarea placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="form-btn">Submit</button>
                      </fieldset>
                    </form>
                  </div>
                  <!-- Mt Leave Comments of the Page end -->
                </div>
                <!-- Mt Comments Section of the Page end -->
              </div>
              <div class="col-xs-12 col-sm-4 text-right wow fadeInRight" data-wow-delay="0.4s">
                <!-- Category Widget of the Page -->
                <section class="widget category-widget">
                  <h3>CATEGORIES</h3>
                  <ul class="list-unstyled widget-nav">
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Future</a></li>
                    <li><a href="#">Kitchen</a></li>
                    <li><a href="#">Photography</a></li>
                  </ul>
                </section>
                <!-- Category Widget of the Page end -->
                <!-- Popular Widget of the Page -->
                <section class="widget popular-widget">
                  <h3>POPULAR POST</h3>
                  <ul class="list-unstyled text-right popular-post">
                    <li>
                      <div class="img-post">
                        <a href="#"><img src="/static/ecommerce/images/img12.jpg" alt="image description"></a>
                      </div>
                      <div class="info-dscrp">
                        <p>Vestibulum sit amet metus euismod amet metus euismod</p>
                        <time datetime="2016-02-03 20:00">24.09.2015</time>
                      </div>
                    </li>
                    <li>
                      <div class="img-post">
                        <a href="#"><img src="/static/ecommerce/images/img13.jpg" alt="image description"></a>
                      </div>
                      <div class="info-dscrp">
                        <p>Luctus id risus vel, ultricies dignissim lacus etiam dolor sem</p>
                        <time datetime="2016-02-03 20:00">24.09.2015</time>
                      </div>
                    </li>
                    <li>
                      <div class="img-post">
                        <a href="#"><img src="/static/ecommerce/images/img14.jpg" alt="image description"></a>
                      </div>
                      <div class="info-dscrp">
                        <p>Aenean lacus mi, porttitor quis <br>dapibustincidunt</p>
                        <time datetime="2016-02-03 20:00">24.09.2015</time>
                      </div>
                    </li>
                    <li>
                      <div class="img-post">
                        <a href="#"><img src="/static/ecommerce/images/img15.jpg" alt="image description"></a>
                      </div>
                      <div class="info-dscrp">
                        <p>Fusce mattis nunc lacus, vulputate facilisis dui efficitur ut</p>
                        <time datetime="2016-02-03 20:00">24.09.2015</time>
                      </div>
                    </li>
                  </ul>
                </section>
                <!-- Popular Widget of the Page end -->
                <!-- Tag Widget of the Page -->
                <section class="widget tag-widget">
                  <h3>TAGS</h3>
                  <ul class="list-unstyled text-right tags">
                    <li><a href="#">Fusce,</a></li>
                    <li><a href="#">mattis,</a></li>
                    <li><a href="#">nunc,</a></li>
                    <li><a href="#">lacus,</a></li>
                    <li><a href="#">vulputate,</a></li>
                    <li><a href="#">facilisis,</a></li>
                    <li><a href="#">dui,</a></li>
                    <li><a href="#">efficitur,</a></li>
                    <li><a href="#">ut</a></li>
                  </ul>
                </section>
                <!-- Tag Widget of the Page -->
              </div>
            </div>
          </div>
        </div>
        <!-- Mt Blog Detail of the Page end -->
      </main>
      {% endblock %}