{% extends "base.html" %}

{% block start %}

<div class="row">
    <div class="col-xs-12">
        <!-- Blog Post of the Page -->

        {% for blogs in blog %}

        <article class="blog-post detail wow fadeInUp" data-wow-delay="0.4s">
            <div class="img-holder">
                <a href="{% url 'blog_detail' blogs.m_slug %}"><img src="{{blogs.m_image.url}}" alt="image description"></a>
                <ul class="list-unstyled comment-nav">
                    <li><a href="#"><i class="fa fa-comments"></i>12</a></li>
                    <li><a href="#"><i class="fa fa-share-alt"></i>14</a></li>
                </ul>
            </div>
            <time class="time" datetime="2021-01-07 20:00"><strong>7</strong>January</time>
            <div class="blog-txt">
                <h2><a href="{% url 'blog_detail' blogs.m_slug %}"> {{blogs.m_title}} </a></h2>
                <ul class="list-unstyled blog-nav">
                    <li> <a href="#"><i class="fa fa-clock-o"></i>{{blogs.m_createdAt}}</a></li>
                   
                    <li> <a href="#"><i class="fa fa-comment"></i>2 Comments</a></li>
                </ul>
                <!---
                <p>
                    {{blogs.m_content | safe}}
                </p> --->
                <a href="{% url 'blog_detail' blogs.m_slug %}" class="btn-more">Read More</a>
            </div>
        </article>

        {% endfor %}
      
        
        <div class="btn-holder">
            <a href="#" class="btn-prev"><i class="fa fa-angle-left"></i> PREVIOUS</a>
            <a href="#" class="btn-next">NEXT <i class="fa fa-angle-right"></i></a>
        </div>
        <!-- Btn Holder of the Page end -->
    </div>
</div>
</div>
</div>
{% endblock %}